<div class='uk-container'>
	<div class='uk-grid uk-margin uk-text-center'>
		<div class='uk-width-1-4'>
			<a id='add' class='uk-icon-link' uk-icon="icon: plus"></a>
		</div>
		<div class='uk-width-1-4'>
			<!-- <a id='add' class='uk-icon-link' uk-icon="icon: plus"></a> -->
		</div>
		<div class='uk-width-1-4'>
			<!-- <a id='add' class='uk-icon-link' uk-icon="icon: plus"></a> -->
		</div>
		<div class='uk-width-1-4'>
			<a id='delete' class='uk-icon-link' uk-icon="icon: trash"></a>
		</div>
	</div>
	<form></form>
</div>