<nav class='uk-navbar-container uk-margin-bottom' uk-navbar>
	<div class='uk-navbar-left'>
		<ul class='uk-navbar-nav'>
			<li>
				<a class='uk-navbar-toggle' uk-navbar-toggle-icon uk-toggle="target: #sidebar"></a>
			</li>
			<a class="uk-navbar-item uk-logo" href="#">Skeleton</a>
		</ul>
	</div>
</nav>