<div id="sidebar" uk-offcanvas="mode: push">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
			<li>
				<a href='#/home'>Home</a>
			</li>
			<li>
				<a href='#/things'>Things</a>
			</li>
			<li>
				<a href='#/settings'>Settings</a>
			</li>
		</ul>
    </div>
</div>
